@font-face {
  font-family: Permanent Marker;
  src: url("/css/fonts/Permanent_Marker/PermanentMarker-Regular.ttf")
    format("truetype");
}

.frame {
  border-radius: 0.4em;
  background-color: whitesmoke;
  padding-top: 5.5%;
}
/* .target {
  z-index: 1;
  transition: z-index 0.3s step-end;
  width: fit-content;
}
.target:hover {
  z-index: 2;
  transition: z-index 0s step-start;
}
.target:hover > .frame {
  box-shadow: 1em 1em 1em dimgray;
  transform: rotate(-4deg) translateX(-2em);
}
.target:hover .image:before {
  opacity: 0;
} */
.image {
  border: 0.1em inset black;
  width: 90%;
  height: 74%;
  margin: auto;
  background-size: cover;
  position: relative;
}

.label {
  /* font-family: monospace; */
  width: 90%;
  height: 20%;
  margin: auto;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  text-align: center;
  position: relative;
}
.label h3 {
  font-size: 100%;
  padding: 0.1rem;
  margin: 0.1rem;
  height: 25%;
}
.label p {
  font-size: 0.7em;
  padding: 0.1rem;
  margin: 0.1rem;
  height: 50%;
}
.label .links {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  font-size: 1em;
  pointer-events: auto;
  height: 25%;
  position: relative;
}
.label .links a {
  height: 100%;
}

/* @media screen and (orientation: portrait) {
  /* Polaroid 
  .target:hover > .frame {
    transform: rotate(-4deg);
  }
}

@media screen and (orientation: landscape) {
  #contact {
    flex-wrap: wrap;
  }
} */
