/* Base Page Styles */
:root {
    /* Light Mode */
    /*     
    --background: #EFEFEF;
    --color: #333333;
    --highlight: #B82601;
     */

    /* Dark Mode */
    --background: #222222;
    --color: #ffffff;
    --highlight: lightblue;

    --banner-radius: 30em 0 0 30em;
}

html,
body {
    font-family: monospace;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    color: var(--color);
    font-size: 120%;
}

a {
    color:var(--highlight);
}

/* Header Styles */
header {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center
}

nav a {
    margin: 0 1em;
}

/* Hero Image */
#banner {
    background: dimgray;
    background-image: url(../media/mthood-banner.jpg);
    background-position: center bottom;
    background-size: cover;
    height: 10em;
    position: relative;
}

#banner div {
    /* background: var(--color)ff; */
    backdrop-filter: blur(1em);
    /* text-shadow: 1px 0 var(--color); */
    color: var(--background);
    position: absolute;
    right: 0;
    top: 1em;
    font-style: italic;
    padding: .4em;
    border-radius: var(--banner-radius);
    max-width: 80%;
    text-align: right;
}

/* Main Styles */
main section {
    margin-left: 8em;
    margin-right: 1.5em;
    margin-top: 4em;
    padding-left: 1em;
    position: relative;
    border-left: .4em solid var(--highlight);
}

main section:last-child {
    margin-bottom: 4em;
}

label {
    display: block;
    position: absolute;
    left: -6em;
    width: 4em;
    text-align: right;
    font-weight: bold;
    font-size: 120%;
}

/* About */
#about {
    max-width: 70em;
}

p {
    margin-bottom: 1em;
}

/* Work */
#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#work::backdrop {
    width:100%;
    height:100%;
    background-color: red;
}

#work div.hero {
    flex: 0 0 100%;
    height: 35em;
    margin: 0;
}

#work div {
    flex: 0 0 49%;
    height: 17em;
    position: relative;
    border: .2em solid var(--color);
    margin: 1em 0 0 0;
    overflow: hidden;
}

#work [data-tech]::after{
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

#work div:hover [data-tech]::after{
    content: attr(data-tech);
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--color);
    font-style: italic;
    padding: 0 .2em;
    opacity: 1;
}

#work div a,
#work div span {
    position: absolute;
    right: 0;
    bottom: 1em;
    /* Color and Background are swapped on work tiles */
    background-color: var(--color);
    color: var(--background);
    padding: .4em;
    border-radius: var(--banner-radius);
    text-align: right;
    max-width: 80%;
}

/* Contact */
#contact {
    display: flex;
    justify-content: flex-start;
}

#contact a {
    margin: 0 1em 1em 0;
}



/* Images */

#work div {
    position: relative;
}

#work div::before {
    position: absolute;
    content: " ";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.35;
    background-size: cover;
    transition: opacity .3s ease-in-out;
}

#work div:hover::before {
    opacity: 0.65;
}

#work-grill::before {
    background-image: url(../media/grill-mobile.png)
}

#work-wedding::before {
    background-image: url(../media/wedding.jpg)
}

#work-interest::before {
    background-image: url(../media/compoundinterest.jpg)
}

#work-scrumgame::before {
    background-image: url(../media/scrumgame.jpg)
}


@media (orientation: landscape) {
    #work-grill::before {
        background-image: url(../media/grill-desktop.png)
    }
}

@media (orientation: portrait) {

}

/* Mobile Switch */
@media screen and (max-width: 50em) {
    /* Header */
    header {
        display: block;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav {
        justify-content: space-around;
    }

    nav a {
        line-height: 200%;
    }

    /* Main */
    label {
        position: relative;
        top: -1em;
        left: 0;
        text-align: left;
        border-bottom: .2em solid var(--highlight);
        padding-bottom: .4em;
        max-width: fit-content;
    }

    main section {
        width: 100%;
        margin: 0;
        padding: 2em 1em 0 1em;
        border: 0;
    }

    #work {
        flex-direction: column;
        padding: 2em 1em 1em 1em;
    }

    #work div.hero {
        flex: 0 0 20em;
    }

    #work div{
        flex: 0 0 10em;
    }

    /* Contact */
    #contact {
        flex-direction: column;
    }
}

/* Devices that don't support hover */
@media (hover: none) {
    #work div::before {
        opacity: 0.65;
    }
}