/* Base Page Styles */
html,
body {
    font-family: monospace;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 900px;
    background-color: #333333;
    color: whitesmoke;
}

a {
    /* color:aquamarine;
    color:deepskyblue; */
    color:lightblue;
}

/* Header Styles */
header {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center
}

nav a {
    margin: 0 1em;
}

/* Hero Image */
#banner {
    background: dimgray;
    height: 10em;
    position: relative;
}

#banner div {
    background: whitesmoke;
    color: #333333;
    position: absolute;
    right: 0;
    bottom: 1em;
}

/* Main Styles */
main section {
    padding-left: 10em;
    padding-right: 5em;
    padding-top: 4em;
    position: relative;
}

main section:last-child {
    padding-bottom: 4em;
}

main section::before {
    content: attr(id);
    display: block;
    position: absolute;
    left: 2em;
    width: 4em;
    text-align: right;
    font-weight: bold;
    font-size: 120%;
}

p {
    margin-bottom: 1em;
}

/* About */

/* Work */
#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#work div:first-child {
    flex: 0 0 100%;
    height: 40em;
}

#work div {
    flex: 0 0 49%;
    height: 20em;
    position: relative;
    background-size: cover;
    border: .5em solid lightblue;
    margin: 0 0 1em 0;
    overflow: hidden;
}

img {
    width: 100%;
    opacity: 35%;
    transition: opacity .3s ease-in-out;
}

img:hover {
    opacity: 100%;
    
}

#work div a,
#work div span {
    position: absolute;
    right: 1em;
    bottom: 1em;
    background-color: ghostwhite;
    color: #333333;
    padding: .1em;
}

/* Contact */
#contact {
    display: flex;
    justify-content: flex-start;
}

#contact a {
    margin: 0 1em 1em 0;
}


