/* Base Page Styles */
:root {
  --background: white;
  --color: #353744;
  --highlight: #00ab44;

  --banner-radius: 30em 0 0 30em;
}

@font-face {
  font-family: Metropolis;
  src: url("/css/fonts/Metropolis/Metropolis-Light.otf") format("opentype");
}
@font-face {
  font-family: Lato;
  src: url("/css/fonts/Lato/Lato-Regular.ttf") format("truetype");
}

/* Main HTML */

html,
body {
  font-family: Lato, sans-serif;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--color);
  font-size: 120%;
}

h1 {
  font-family: Metropolis, sans-serif;
  color: var(--highlight);
}

a {
  color: var(--highlight);
}

/* Header Styles */
header {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  margin: 0 1em;
}

/* Hero Image */
#banner {
  position: relative;
  background-color: var(--highlight);
  height: 30vw;
}
#banner-image {
  background-image: url(../media/mthood.jpg);
  background-position: center bottom;
  background-size: cover;
  opacity: 0.55;
  height: 100%;
}
#banner-text {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--background);
  font-style: italic;
  max-width: 90%;
  text-align: center;
  margin: auto;
  padding: 1em;
}

/* Main Styles */
main section {
  margin-left: 8em;
  margin-right: 1.5em;
  margin-top: 4em;
  padding-left: 1em;
  position: relative;
  border-left: 0.4em solid var(--highlight);
}

main section:last-child {
  margin-bottom: 4em;
}

label {
  display: block;
  position: absolute;
  left: -6em;
  width: 4em;
  text-align: right;
  font-weight: bold;
  font-size: 120%;
  text-transform: uppercase;
  color: var(--highlight);
}

/* About */
#about {
  max-width: 70em;
}

p {
  margin-bottom: 1em;
}

/* Work */
#work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Contact */
#contact {
  display: flex;
  justify-content: flex-start;
}

#contact a {
  margin: 0 1em 1em 0;
}

/* Mobile Switch */
@media screen and (max-width: 50em) {
  * {
    font-size: 5vw;
    line-height: 100%;
  }
  /* Header */
  header {
    display: block;
  }

  header h1 {
    width: 100%;
    text-align: center;
    font-size: 9vw;
  }

  header nav {
    justify-content: space-around;
  }

  nav a {
    line-height: 200%;
    margin: 0 0.5em;
    font-size: 5vw;
  }

  /* Main */
  #banner {
    height: 50vw;
  }

  #banner-text {
    left: 0;
    padding: 1em 0;
  }

  label {
    position: relative;
    top: -1em;
    left: 0;
    text-align: left;
    border-bottom: 0.2em solid var(--highlight);
    padding-bottom: 0.4em;
    width: 100%;
  }

  main section {
    width: 100%;
    margin: 0;
    padding: 2em 1em 0 1em;
    border: 0;
  }

  #work {
    flex-direction: column;
    align-items: center;
    padding: 2em 1em 1em 1em;
  }

  /* Contact */
  #contact {
    flex-direction: column;
  }
}

/* Devices that don't support hover */
@media (hover: none) {
}
