.resume.container {
  display: grid;
  grid-template-rows: auto;
}

.resume img {
  width: 100%;
}

.resume .skills {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin: 2rem 0;
}

/* hide the ios-specific resume container by default */
#ios-resume-container {
  display: none;
}

/* this media query targets iOS devices only */
@supports (-webkit-touch-callout: none) {
  /* hide the normal resume container */
  #resume-container {
    display: none;
  }
  /* display the ios-specific resume container */
  #ios-resume-container {
    display: block;
  }
}
