.frame {
  border-radius: 0.4em;
  background-color: whitesmoke;
  padding-top: 5.5%;
  height: 30.5rem;
  width: 25rem;
  color: rgba(0, 0, 0, 0.9);
  cursor: default;
  transition: all 0.3s ease-in-out;
}

.image {
  border: 0.1em solid black;
  width: 22.5rem;
  height: 22.5rem;
  margin: auto;
  background-size: cover;
  background-position: center top;
  position: relative;
  transition: all 0.3s ease;
}
.frame.active {
  transform: scale(1.05);
}
.info {
  width: 100%;
  height: 100%;
  padding: 1em;
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  gap: 2em;
  color: white;
  opacity: 0;
  transition: all 0.3s ease;
}
.info .links {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  pointer-events: auto;
  position: relative;
}

.active .info {
  opacity: 0.9;
}

.label {
  width: 90%;
  height: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  text-align: center;
  position: relative;
}
.label h3 {
  font-size: 24px;
  padding: 0.1rem;
  margin: 0.1rem;
  height: 25%;
}

.btn {
  text-transform: lowercase !important;
}

/* Devices without hover capability */
@media screen and (hover: none) {
  .frame {
    user-select: none;
  }

  .info,
  .active .info {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7) !important;
    backdrop-filter: blur(2px);
  }
  .frame.active {
    transform: none;
  }
  .btn {
    font-size: 16px !important;
  }
}

/* Devices smaller than 480px wide */
@media screen and (max-width: 480px) {
  .frame {
    height: 25.5rem;
    width: 20rem;
  }
  .image {
    width: 18.5rem;
    height: 18.5rem;
  }
  .gallery {
    grid-template-columns: max-content !important;
  }
  .fa-2x {
    transform: scale(0.75);
  }
  .nav {
    grid-auto-flow: row;
  }
}
