.frame {
  border-radius: 0.4em;
  background-color: whitesmoke;
  padding-top: 5.5%;
  height: 30.5rem;
  width: 25rem;
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.image {
  border: 0.1em solid black;
  width: 22.5rem;
  height: 22.5rem;
  margin: auto;
  background-size: cover;
  background-position: center top;
  position: relative;
  transition: all 0.3s ease;
}
.frame:hover {
  transform: scale(1.05);
}
.info {
  width: 100%;
  height: 100%;
  padding: 1em;
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  gap: 2em;
  color: white;
  opacity: 0;
  transition: all 0.3s ease;
}
.info .links {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  pointer-events: auto;
  position: relative;
}
.info .links a {
  text-decoration: underline;
}
/* 
.active .image {
  filter: grayscale(100%) brightness(0.2);
  -webkit-filter: grayscale(100%);
} */

.active .info {
  opacity: 0.9;
}

.label {
  width: 90%;
  height: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  text-align: center;
  position: relative;
}
.label h3 {
  font-size: 24px;
  padding: 0.1rem;
  margin: 0.1rem;
  height: 25%;
}
