/* overall layout */
html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.9);
}
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

::selection {
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
}

p > a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
}

.hidden {
  display: none !important;
}
